.bullets {
    padding-top: 100px;
    width: 100%;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-size: 28px;
    text-align: center;
}
.b1 {
    width: 500px;
    height: 150px;
    background-color: #C2D5DB;
    border-radius: 25px;
}
.b2 {
    width: 500px;
    height: 150px;
    background-color: #C2D5DB;
    border-radius: 25px;
}
.bullets2 {
    width: 100%;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-size: 28px;
    text-align: center;
}
.b3 {
    width: 500px;
    height: 150px;
    background-color: #C2D5DB;
    border-radius: 25px;
}
.b4 {
    width: 500px;
    height: 150px;
    background-color: #C2D5DB;
    border-radius: 25px;
}

.cabecalho{
    display: flex;
}

.cabecalho img{
    width: 7.5%;
}

.hero{
    display: flex;
    flex-direction: row;
}

.hero img{
    width: 75%;
}

.lista-redirecionamento{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;

    background-color: #C2D5DB;
    border-radius: 25px;
}
.quem {
    padding-top: 200px;
    width: 100%;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.quem1 {
    background-color: #CA0404;
    width: 550px;
    height: 240px;
    text-align: center;
    font-size: 20px;
    border-radius: 50px;
    font-family: 'Arial', sans-serif;
    color: white;
}
.quem2 {
    background-color: #CA0404;
    width: 550px;
    height: 240px;
    text-align: center;
    font-size: 20px;
    border-radius: 50px;
    color: white;
}
.pagina2 {
    background-color: red;
    padding-top: 100px;
    width: 100%;
    height: 1000px;
    margin: auto;
    display: flex;
}
.titulocoment {
    background-color: yellow;
    width: 100%;
    height: 80px;
    padding-left: 50px;
    font-size: 30px;
}